<div class="login-container">

  <div class="login-card">
    <div class="login-left">
      <img src="logo.png" alt="Logo" class="logo">
    </div>

    <div class="login-right">
      <h2 class="title">Auth JWT</h2>
      <h5 class="subtitle"><b>Login</b></h5>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Usuário"
          [(ngModel)]="username">
      </div>

      <div class="form-group password-group">
        <input
          [type]="showPassword ? 'text' : 'password'"
          class="form-control"
          placeholder="Senha"
          [(ngModel)]="password">

        <span class="eye-icon" (click)="togglePassword()">
          <i class="bi bi-eye-fill"></i>
        </span>
      </div>

      <button class="btn-login" (click)="login()">
        Entrar <i class="bi bi-box-arrow-in-right"></i>
      </button>

      <div class="text-danger mt-2" *ngIf="error">
        {{error}}
      </div>
      <p class="footer">© Gabriel Artemio</p>

    </div>
  </div>
</div>